.cart_bar {
  width: 400px;
  height: 50px;
  background-color: rgb(255, 238, 0);
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 1030;
  width: 400px;
  margin: 0 auto;
}

.ui.card.styles {
  margin: 5px auto;
  width: 160px;
  height: 400px;
}
.ui.card.cart {
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
}
.central {
  margin: 0 auto;
}

.loader {
  width: 100%;
  background-color: white;
  height: 5px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: loader;
  animation-duration: 1s;
}

@keyframes loader {
  0% {
    width: 0%;
    background-color: rgb(251, 101, 0);
  }

  100% {
    width: 100%;
    background-color: rgb(251, 101, 0);
  }
}
.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media screen and (min-width: 992px) {
  .ui.card.styles {
    width: 250px;
    margin-top: 10px;
  }
  .img_styles {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.card_image {
  background-color: white;
  height: 20px;
  width: 20px;
}

.img_styles {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
}
